body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.container p{
  

}
/* Lado esquerdo */
.lado-esquerdo {
  width: 60%;
  background: linear-gradient(135deg, #74cf79, #1B5E20);
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c {
  border: #1B5E20 solid 2px;
  border-radius: 8px;
  background-color: white;
  padding: 40px 60px;
  margin-left: 50px;
  width: 300px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.c h2 {
  text-align: center;
  color: #2E7D32;
  margin-bottom: 25px;
}

.c input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

.c input:focus {
  border-color: #2E7D32;
  box-shadow: 0 0 5px rgba(46, 125, 50, 0.4);
}

.c button {
  width: 106%;
  padding: 12px;
  margin-top: 20px;
  background-color: #2E7D32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.c button:hover {
  background-color: #1B5E20;
}

.c a {
  display: block;
  margin-top: 15px;
  margin-left: 5px;
  text-align: center;
  color: #1B5E20;
  text-decoration: none;
  font-weight: bold;
}

.c a:hover {
  text-decoration: underline;
}


/* Lado direito */
.lado-direito {
  width: 60%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  max-width: 80%;
  height: auto;
}

.linkC{
    display: flex;
    flex-direction: row;

}

.m {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    margin-top: 5px;
    background-color: #ffe6e6;
    color: #c50202;
    border-radius: 5px;
    font-size: 0.9em;
    opacity: 0;
    transform: translateY(-10px);
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease, transform 0.4s ease, max-height 0.4s ease;
}

.m.mostrar {
    opacity: 1;
    transform: translateY(0);
    max-height: 50px;
}
